<?php

return array(
	'dal-conf' => array(
			'adapter' => 'db-adapter',
			'cache'   => 'storage_memcached',
			'log'     => 'log-system',
			'namespace' => array(
				'dal' => array(
					'service' => 'Dal\\Service',
					'mapper'  => 'Dal\\Mapper',
					'model'   => 'Dal\\Model',
				)
			)
	),
);